In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
data = pd.read_csv('../data/salary-dataset.csv')

In [5]:
data.head()

   Unnamed: 0  YearsExperience   Salary
0           0              1.2  39344.0
1           1              1.4  46206.0
2           2              1.6  37732.0
3           3              2.1  43526.0
4           4              2.3  39892.0

In [6]:
data.tail()

    Unnamed: 0  YearsExperience    Salary
25          25              9.1  105583.0
26          26              9.6  116970.0
27          27              9.7  112636.0
28          28             10.4  122392.0
29          29             10.6  121873.0

In [7]:
data.size

90

In [8]:
data.columns

Index(['Unnamed: 0', 'YearsExperience', 'Salary'], dtype='object')

In [9]:
data.drop(columns = ['Unnamed: 0'], inplace = True)

In [10]:
data.head()

   YearsExperience   Salary
0              1.2  39344.0
1              1.4  46206.0
2              1.6  37732.0
3              2.1  43526.0
4              2.3  39892.0

In [11]:
data.isnull().sum()

YearsExperience    0
Salary             0
dtype: int64

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
x = pd.DataFrame(data['YearsExperience'])

In [14]:
y = pd.DataFrame(data['Salary'])

In [15]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)

In [16]:
from sklearn.metrics import *

In [17]:
#Linear Regression

from sklearn.linear_model import LinearRegression

model1 = LinearRegression()

model1.fit(x_train, y_train)
pred = model1.predict(x_test)

r2_score(pred, y_test) * 100

89.6183873758733

In [18]:
#Knn

from sklearn.neighbors import KNeighborsRegressor

model2 = KNeighborsRegressor(n_neighbors=3)
model2.fit(x_train, y_train)

pred = model2.predict(x_test)

r2_score(pred, y_test) * 100

94.31713916563747

In [19]:
#Hypertuned Knn

from sklearn.model_selection import GridSearchCV

param_grid = {'n_neighbors': [3, 5, 7, 9], 'weights': ['uniform', 'distance']}

model = KNeighborsRegressor()
grid_search = GridSearchCV(model, param_grid, cv=3)
grid_search.fit(x_train, y_train)

model3 = grid_search.best_estimator_

pred = model3.predict(x_test)

r2_score(pred, y_test) * 100

90.78037224258468

In [20]:
#Ensembled Model

from sklearn.ensemble import VotingRegressor

model = VotingRegressor([('lr', model1), ('knn', model2)])

model.fit(x_train, y_train)

y_pred = model.predict(x_test)

r2_score(y_test, y_pred) * 100

E:\Conda\lib\site-packages\sklearn\ensemble\_voting.py:597: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

93.3189054734915

In [21]:
import pickle

In [22]:
filename = '../model.pkl'

In [23]:
with open (filename, 'wb') as file:
    pickle.dump(model2, file)

In [24]:
with open(filename, 'rb') as file:
    m = pickle.load(file)

In [30]:
x = np.array([[10]])

In [33]:
m.predict(x)[0][0].round()

E:\Conda\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but KNeighborsRegressor was fitted with feature names
  warnings.warn(

120412.0